*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: burlywood;
}
#box{
    position: relative;
    width: 500px;
    height: 600px;
    background-color: rgb(202, 177, 145);
    border-radius: 30px;
    box-shadow: 10px 10px 90px rgb(123, 123, 123);
    padding: 30px;
}
h1{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: white;

}
#input{
    position: relative;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    border: none;
    margin: 10px;
}
#box li{
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px 0px;
    padding: 10px 10px 10px 45px;
    cursor: pointer;
    background-color: rgb(173, 169, 167);
    border-radius: 25px;
    color: azure;
    width: calc(100% - 45px);
    margin-left: 12px;
}
#box li i{
    position: absolute;
    right: -35px;
    width: 30px;
    height: 30px;
    background-color: rgb(203, 67, 43);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box li i::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: white;
    transform: rotate(45deg);

}
#box li i::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: white;
    transform: rotate(-45deg);

}
#box li.done::before{
content: "";
position: absolute;
left: 8px;
width: 28px;
height: 28px;
background-color: rgb(78, 76, 76);
border-radius: 50%;
}
#box li.done::after{
content: "";
position: absolute;
left: 15px;
width: 12px;
height: 6px;
border-left: 2px solid white;
border-bottom: 2px solid white;
transform: rotate(315deg);
}
#box li.done{
    background-color: rgb(80, 190, 104);
}
#list{
    position: relative;
    margin-top: 15px;
    height: 350px;
    overflow: auto;
    padding-right: 20px;
}
